.me-photo {

	width: 340px;
	border-radius: 30px;
	float:left;
	margin:74px 10px 20px 5px;
	border:3px solid #60D7FF;

}

.me-photo:hover {
	border:3px solid black;
}


#mainContent {

	width: 90%;
	min-height: 400px;
	background: white;
    border: 3px solid #60D7FF;
    margin:100px auto;
    padding:0 20px 0 20px;
    border-radius: 25px;

}

#mainContent:hover {
	border:3px solid black;
}

.videoMe {
	padding-top: 50px;
	padding-bottom: 50px;
	
}

.my-newnav {
	/*border: 4px solid red;*/
	border-bottom:5px solid #60D7FF;
}


.cont1 {
	width: 100%;
	/*border:2px solid yellow;*/
	margin: 0% auto;
	height:100px;
	padding-bottom: 40px;
	text-align: center;
	color: white;
	font-family: 'Helvetica Neue';
	font-size: 40px;
	padding-top: 20px;
	text-decoration: none;
}



.skills {
	color:black;
	border:4px solid #60D7FF;
	padding-bottom: 44px;
}	

.skills:hover {
	border:4px solid black;
}

.skills h3 {
	color:red;
}


.github {
	color:black;
	border:4px solid #60D7FF;
	padding-bottom: 10px;

}

.github h3{
	color: #411C66;
	padding-bottom: 10px;
}

.github:hover {
	border:4px solid #411C66;
}

.mygithub {
	background-color: #411C66;
}

.socialMedia {
	color:black;
	border:4px solid #60D7FF;
}

.socialMedia h3 {
	color: #60D7FF;
}

.socialMedia:hover {
	border:4px solid black;
}


.bold {
	font-weight: bold;
	color:black;

}

.bold:hover {
	color:#60D7FF;
}

.blue {
	color:#60D7FF;
	font-weight: bold;
}


.blue:hover {
	color:black;
	
}

h2 {
	color: black;
	font-size: 55px;
}

h3 {
	color:grey;
	font-weight: bold;
}
h4 { 
	color: black;
	margin:0px auto;
}

h3:hover {
	color:black;
}

a {
	text-decoration: none;
	color: #60D7FF;
}

a:hover {
	text-decoration: none;
	color: white;
}


.my-quote {
	border:4px solid #60D7FF;
	max-width: 700px;
	min-height: 230px;
	float:right;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 75px;
	border-radius: 40px;
	color: black;
	background-color: white;


}


.my-quote:hover{
	border:4px solid black;
	background-color: white;
}

/*jumbotron container 1*/
.main-cont {
	padding-bottom: 10px;
}

.thatsMe {
margin-top: 35px;
}


.thatsMe:hover{
	color: grey;
}


.linkedin {
	background-color:#60D7FF;
	color: white;

}

.junior-developer {
	padding-top: 20px;
}


.cont2 {
	/*background: white;*/

}

.checkReel:hover {
	color:#60D7FF;
}

.getinTouch {
	color: black;
}
