.me-photo {

	width: 340px;
	border-radius: 30px;
	float:left;
	margin:74px 10px 20px 10px;
	/*border:3px solid #60D7FF;*/

}

.me-photo:hover {
	/*webkit-filter: blur 5%;*/
	/*border:3px solid black;*/
}


#mainContent {

	width: 90%;
	min-height: 300px;
	background: white;
    border: 0px solid #60D7FF;
    margin:100px auto;
    padding:0 20px 0 20px;
    border-radius: 25px;
    font-size: 1.15em;

}

/*#mainContent:hover {*/
	/*border:3px solid black;*/
/*}*/

.videoMe {
	padding-top: 30px;
	padding-bottom: 50px;
	
}

.my-newnav {
	/*border: 4px solid red;*/
	border-bottom:5px solid #60D7FF;
}


.cont1 {
	width: 100%;
	/*border:2px solid yellow;*/
	margin: 0% auto;
	height:100px;
	padding-bottom: 40px;
	text-align: center;
	color: white;
	font-family: 'Helvetica Neue';
	font-size: 40px;
	padding-top: 20px;
	text-decoration: none;
}



.skills {
	color:black;
	border:0px solid #60D7FF;
	padding-bottom: 44px;
	border-radius: 25px;
}	

.skills:hover {
	/*border:4px solid black;*/
}

.skills h3 {
	color:black;
}


.github {
	color:black;
	border:0px solid #60D7FF;
	padding-bottom: 10px;
	border-radius: 25px;

}

.github h3{
	color: black;
	padding-bottom: 10px;
}

.github:hover {
	/*border:4px solid #411C66;*/
}

.mygithub {
	background-color: #7D0541;
	width:100px;
}

.mygithub:hover {
	color: white;
	font-weight: bold;
}

.socialMedia {
	color:black;
	border:0px solid blue;
	border-radius: 25px;
}

.socialMedia h3 {
	color: black;
}

/*.socialMedia:hover {*/
	/*border:4px solid black;*/
/*}*/


.bold {
	font-weight: bold;
	color:black;

}

/*.bold:hover {*/
	/*color:#60D7FF;*/
/*}*/

.blue {
	color:#60D7FF;
	font-weight: bold;
}


.blue:hover {
	color:black;
	
}

h2 {
	color: black;
	font-size: 55px;
}

h3 {
	color:grey;
	font-weight: bold;
}
h4 { 
	color: black;
	margin:0px auto;
}

h3:hover {
	color:black;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}


.my-quote {
	/*border:4px solid #60D7FF;*/
	max-width: 700px;
	min-height: 230px;
	float:right;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 75px;
	border-radius: 40px;
	color: black;
	/*background-color: white;*/

}



.bq3 { 
	
	background: url('http://i47.tinypic.com/a9l0g3.png')
	top left no-repeat;
	padding-left: 35px; 
	line-height: 18px;
	color: #575757;
	float:right;
	max-width: 700px;
	min-height: 230px;
	margin-top:40px;
	border:none;

	
	 }

.bq3 p {
  padding-bottom: 25px;
  padding-right: 35px;
  padding-left: 35px;
  line-height: 24px; 
  background: url('http://i48.tinypic.com/eb1yrr.png') 
  bottom right no-repeat; 
  padding-bottom: 40px; 
  color: #333; 
  font-size: 20px; 
  padding-top: 40px;
}


.my-quote:hover{
	/*border:4px solid white;*/
	background-color: none;
}

/*jumbotron container 1*/
.main-cont {
	padding-bottom: 10px;
}

.thatsMe {
margin-top: 35px;
color:grey;
}


.thatsMe:hover{
	color: black;
}


.linkedin {
	background-color:#0059FF;
	color: white;
	text-align: center;

}

.linkedin:hover {
	color:white;
	font-weight: bold;

}

.junior-developer {
	padding-top: 20px;
}


.cont2 {
	/*background: white;*/

}

.checkReel {
	padding-top: 80px;
	padding-bottom:10px;
	
}

/*.checkReel:hover {*/
	/*color:#60D7FF;*/
/*}*/

.getinTouch {
	color: black;
	padding:50px auto;
}

.mainContentClass {
	border:2px solid black;
}

.callNew {
	color:#60D7FF;
	font-size: 80px;
}

.callNew:hover {
	color: black;

}
